.a{
    color: gray;
    color: silver;
    font-size: large;
    font-style: normal;
    font-weight: lighter;
    width: auto;
    border-radius: inherit;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: lavender;
}